<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/head.ejs') %>
  <body>
    <%- include ('partials/navbar.ejs') %>

    <div class="center-container">
      <div class="small-container shadow-lg p-5">
        <h1 class="mb-3 display-6">Medication Information</h1>

        <p class="lead">
          Here you have the ability to update or delete your medication.
        </p>

        <form
          id="update-active-medication"
          action="/active-medication/<%= medication._id %>/update"
          method="POST"
        >
          <div class="mb-3">
            <label for="medication" class="form-label">Medication</label>
            <input
              type="text"
              class="form-control"
              name="medication"
              value="<%= medication.medication %>"
            />
          </div>
          <div class="mb-3">
            <label for="dosage" class="form-label">Dosage</label>
            <input
              type="text"
              class="form-control"
              name="dosage"
              value="<%= medication.dosage %>"
            />
          </div>
          <div class="mb-3">
            <label for="frequency" class="form-label">Frequency</label>
            <input
              type="text"
              class="form-control"
              name="frequency"
              value="<%= medication.frequency %>"
            />
          </div>
          <div class="mb-3">
            <label for="color" class="form-label">Colour Picker</label>
            <input
              name="color"
              type="color"
              class="form-control form-control-color"
              value="<%= medication.color %>"
            />
            <div id="colorHelp" class="form-text">
              Pick a colour which helps to identify your medication!
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
          <button
            type="button"
            class="btn btn-danger mx-2"
            id="delete-active-medication"
          >
            Delete
          </button>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script>
      document
        .getElementById("delete-active-medication")
        .addEventListener("click", async () => {
          const response = await fetch(
            `/active-medication/${encodeURIComponent(
              "<%= medication._id %>"
            )}/delete`,
            {
              method: "POST",
            }
          );

          if (response.ok) {
            window.location.href = "/dashboard";
          } else {
            alert("Error deleting medication");
          }
        });
    </script>
  </body>
</html>
