<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/head.ejs') %>
  <body>
    <%- include ('partials/navbar.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

    <div class="container">

      <div class="row">
        <div class="col-md-8">
          <h1 class="mt-3 mb-3 display-4">List of logs</h1>
          <p>
            Asthma is a chronic respiratory condition affecting millions of people worldwide, characterized by inflammation and constriction
            of the airways, leading to difficulties in breathing. Common triggers for asthma symptoms include allergens such as pollen, dust
            mites, and pet dander, as well as irritants like tobacco smoke and air pollution. Additionally, factors like stress, cold air, and
            exercise can exacerbate the condition. Asthma symptoms can range from mild to severe and include shortness of breath, chest tightness,
            wheezing, and coughing. While there is no cure for asthma, it can be effectively managed through a combination of medication, avoiding
            triggers, and developing an action plan with a healthcare provider. By taking these steps, individuals with asthma can lead active,
            healthy lives and minimize the impact of this chronic condition on their daily activities.
          </p>
          <canvas id="chart" data-logs="<%- encodeURIComponent(JSON.stringify(logs)) %>"></canvas>
        </div>
        <div class="col-md-4 mt-4">
          <div class="d-flex flex-column flex-md-row align-items-center">
            <div class="list-group scroller">
              <% logs.forEach(log => { %>
                <a href="/log/<%= log._id %>" class="list-group-item list-group-item-action d-flex py-3" aria-current="true">
                  <div class="d-flex gap-5 justify-content-between">
                    <div>
                      <h6 class="mb-0 mb-2"><%= formatDate(log.timestamp) %></h6>
                      <p class="mb-0 mb-1 opacity-75">Peak Flow: <%= log.peakflow %></p>
                      <p class="mb-0 mb-1 opacity-75">Symptoms: <%= log.symptoms %></p>
                      <p class="mb-0 mb-1 opacity-75">Notes: <%= log.notes %></p>
                    </div>
                  </div>
                </a>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/javascripts/chart.min.js"></script>
    <script src="/javascripts/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="/javascripts/graph.js"></script>

  </body>
</html>